################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LBCPUMon/bin
/Monitor/bin
/SocketTest/bin
/.vs/LBCPUMon/v14/.suo
